.block2{
    height: 30vw !important;
}
.hov-img0 {
    height: 80% !important;

    & img{
        height: 100% !important;
        object-fit: cover !important;
    }
}
.categories{
    height: 25vw !important;
}
.block1{
    height: 100% !important;

    & img{
        height: 100% !important;
        object-fit: cover;
    }
}