a{
    text-decoration: none !important;
}
.block2{
    height: 22rem !important;
}
.hov-img0 {
    height: 80% !important;
    & img{
        /* height: 100% !important; */
        padding: 2vw !important;
        object-fit: cover !important;
    }
}
.categories{
    height: 25vw !important;
}
.block1{
    height: 100% !important;

    & img{
        height: 100% !important;
        object-fit: cover;
    }
}
.pos-relative1 {
    position: relative;
    padding: 1vw 5vw 2vw 5vw !important;
}
.stext-114{
    font-size: 25px !important;
    margin-inline: auto !important;
}
.search-error{
    max-width: fit-content !important;
    margin-inline: auto !important;
}
.popover{
    z-index: 20000 !important;
}
.nav-tabs .nav-link{
    border: none !important;
    border-bottom: 1px solid transparent !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color: #797979 !important;
}
.tab01 .nav-link.active {
    color: #333 !important;
    border-color: #797979 !important;
}
.form-control{
    color: #666 !important;
}
.reviewEditBtn{
    cursor: pointer;
}
.reviewModal{
    height: 5rem !important;
    & a{
        color: #6c7ae0;
        font-weight: 500;
    }
}
.btn.focus, .btn:focus{
    box-shadow: none !important;
}
.options {
   transition: all .5s linear;
}
.product-Detail .slick-slide{
    height: auto !important;
}
/* .options.active {
   opacity: 100;
   transition: all .5s linear;
} */
.hidden {
    opacity: 0;       
    visibility: hidden; 
    transition: opacity 0.3s ease; /* Transition effect */
}

.visible {
    opacity: 1;       
    visibility: visible; 
}

.size-207 .reviewImg {
    width: 50px !important;
    height: 100%;
}
.review_Date{
    font-size: 14px !important;
    width: 100%;
    display: flex;
    color: gray;
    justify-content: end;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#proceedButton[disabled] {
    cursor: no-drop; 
    opacity: 0.5; 
}
.correct-message {
    color: black; /* Code is Correct ka color black */
}

.incorrect-message {
    color: red; /* Code is Incorrect ka color red */
}
.modal.show .modal-dialog{
    margin-top: 4vw !important;
}
.z-index{
    z-index: 9999 !important;
}
.myOrder .table-shopping-cart tr{
    border-top: none !important; 
    border-bottom: 1px dashed #d9d9d9 !important;
}
.shopingInfo .wrap-table-shopping-cart{
    border-left: none !important;
    border-right: none !important;
}
.myOrder .wrap-table-shopping-cart {
    overflow: auto;
    border-left: none !important;
    border-right: none !important; 
}
@media (min-width: 992px) and (max-width:1024px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1050px !important;
    }
    .logo{
        margin-right: 20px !important;
    }
}